<div class="header-search">
							<div class="search-form" id="search">
								<input  type="text" name="search" class="input search-form__input" placeholder="{{ text_search }}" value="{{ search }}">
								<button type="submit" class="search-form__submit">
									<span class="icon icon-search"></span>
								</button>
							</div>
						</div>