<div class="col-md-3 col-sm-4">
    <aside class="filter-wrap">
        <div id="main-filter" class="filter">
            <!-- add here checked labels -->

            <!-- end checked labels -->
            <div class="filter-list">
                <!-- filter item -->
                <div class="filter-item">
                    <div class="filter-item-head">
                        <p class="filter-item-title">Тип меблів</p>
                    </div>
                    <!-- type furniture -->
                    <div class="filter-item-content">
                        <ul class="check-box">
                            <li>
                                <input type="checkbox" name="furniture" id="kuty" class="input_checkbox">
                                <label for="kuty" class="input_label-checkbox">Кути&nbsp;<span class="filter-parameter">(+12)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="dyvany" class="input_checkbox">
                                <label for="dyvany" class="input_label-checkbox">Дивани&nbsp;<span class="filter-parameter"></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="mjaki" class="input_checkbox">
                                <label for="mjaki" class="input_label-checkbox">М’які частини&nbsp;<span class="filter-parameter">(+5)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="sofa" class="input_checkbox">
                                <label for="sofa" class="input_label-checkbox">Софа&nbsp;<span class="filter-parameter">(+23)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="tahta" class="input_checkbox">
                                <label for="tahta" class="input_label-checkbox">Тахта&nbsp;<span class="filter-parameter">(+14)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="krisla" class="input_checkbox">
                                <label for="krisla" class="input_label-checkbox">Крісла&nbsp;<span class="filter-parameter">(+6)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="dytjachi" class="input_checkbox">
                                <label for="dytjachi" class="input_label-checkbox">Дитячі меблі&nbsp;<span class="filter-parameter">(+3)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="kuhoni" class="input_checkbox">
                                <label for="kuhoni" class="input_label-checkbox">Кухонні кути&nbsp;<span class="filter-parameter">(+19)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="lizka" class="input_checkbox">
                                <label for="lizka" class="input_label-checkbox">Ліжка&nbsp;<span class="filter-parameter">(+1)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="materiales" class="input_checkbox">
                                <label for="materiales" class="input_label-checkbox">Матеріали&nbsp;<span class="filter-parameter">(+5)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="furniture" id="znyzky" class="input_checkbox">
                                <label for="znyzky" class="input_label-checkbox">Знижки&nbsp;<span class="filter-parameter">(+9)</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- filter item -->
                <div class="filter-item">
                    <div class="filter-item-head">
                        <p class="filter-item-title">Механізми трансформації</p>
                    </div>
                    <!-- type mechanism -->
                    <div class="filter-item-content">
                        <ul class="check-box">
                            <li>
                                <input type="checkbox" name="mechanism" id="delfin" class="input_checkbox">
                                <label for="delfin" class="input_label-checkbox">Дельфін&nbsp;<span class="filter-parameter">(+7)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="euroknyzka" class="input_checkbox">
                                <label for="euroknyzka" class="input_label-checkbox">Єврокнижка&nbsp;<span class="filter-parameter"></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="dyvanknyzka" class="input_checkbox">
                                <label for="dyvanknyzka" class="input_label-checkbox">Диван-книжка&nbsp;<span class="filter-parameter">(+12)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="akordeon" class="input_checkbox">
                                <label for="akordeon" class="input_label-checkbox">Акордеон&nbsp;<span class="filter-parameter">(+3)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="rozkladushky" class="input_checkbox">
                                <label for="rozkladushky" class="input_label-checkbox">Розкладушки&nbsp;<span class="filter-parameter">(+37)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="klasictahta" class="input_checkbox">
                                <label for="klasictahta" class="input_label-checkbox">Класична тахта&nbsp;<span class="filter-parameter">(+9)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="nozyci" class="input_checkbox">
                                <label for="nozyci" class="input_label-checkbox">Ножиці&nbsp;<span class="filter-parameter">(+5)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="sablya" class="input_checkbox">
                                <label for="sablya" class="input_label-checkbox">Сабля&nbsp;<span class="filter-parameter">(+21)</span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="mechanism" id="aleko" class="input_checkbox">
                                <label for="aleko" class="input_label-checkbox">Алеко&nbsp;<span class="filter-parameter">(+4)</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="bttn_small bttn_filter">
            <span>Показати фільтр</span>
            <span class="hidden">Сховати фільтр</span>
        </button>
    </aside>
</div>
<!-- content -->